.slider .slick-prev,
.slider .slick-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);

    z-index: 1;
}

@media (min-width: 768px) {
    .slider .slick-prev,
    .slider .slick-next {
        background: rgba(0, 0, 0, 0.8);
    }

    .slider .slick-prev:hover, .slider .slick-prev:focus,
    .slider .slick-next:hover,.slider .slick-next:focus {
        background: rgba(0, 0, 0, 0.7);
    }
}


.slider .slick-prev:hover, .slider .slick-prev:focus,
.slider .slick-next:hover, .slider .slick-next:focus {
    background: rgba(255, 255, 255, 0.5);
}

.slider .slick-prev:before,
.slider .slick-next:before {
    font-family: initial;
    font-size: 40px;
    line-height: 4px;

    color: white;
}

.slider .slick-prev {
    left: -0px;
}

@media (min-width: 768px) {
    .slider .slick-prev {
        left: -20px;
    }
}

.slider .slick-next {
    right: -0px;
}
@media (min-width: 768px) {
    .slider .slick-next {
        right: -20px;
    }
}

.slider .slick-dotted.slick-slider {
    margin-bottom: 50px;
}

.slider .slick-dots {
    bottom: -40px;
}

.slider .slick-dots li {
    width: 40px;
    height: 40px;
}
.slider .slick-dots li button {
    width: 40px;
    height: 40px;
}

.slider .slick-dots li button:before {
    font-family: initial;
    font-size: 60px;
    line-height: 40px;

    width: 40px;
    height: 40px;
}
